*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
body{
	background-color:#eeeeee;
	font-family:'B612', sans-serif;
	color: #402d2d;

}
.dark-mode{
  background-color: black;
	color: #ffffff;
}

#intro{
  width:82%;
  margin-left:9%;
  margin-top:15%;
  margin-right:9%;
  height: 80%;
}
#textDestination{
	float:left;
	font-size:25px;
	margin-left:35%;
	margin-top:15%;
}

#div1{
	position:relative;
	height:750px;
	width:100%;
	z-index=-1;
}
img{
	width:230px;
	height:230px;
	padding:2px;
	border:10px solid #402d2d;
}
#pic{
	float:right;
	width:270px;
	height:270px;
	border:10px solid #b14e62;
	transform: rotate(0deg);
}
#calipic{
	float:left;
	width:100px;
	height: 100px;
	border:2px solid #b14e62;

}
#bgpic{
	height:700px;
	margin-left:120px;
}
#div2{
	border-top:1px solid #000000;
	clear:both;
	width:100%;
	height:740px;
	position:relative;
	text-align:center;
	z-index=1;
	background-color: #ffffff;

}
#sec1{
	float:right;
	height:570px;
	width:500px;
	margin-right:18%;
}
#sec2{
	font-size:14px;
	float:left;
	height:570px;
	width:500px;
	margin-left:15%;
	margin-top: 5%;
}
#sec3{
	float:left;
	width:500px;
	margin-left:15%;
	margin-top:3%;
	text-align: left;
	text-align: justify;
 text-justify: auto;

}
#sec4{
	font-size:14px;
	float:left;
	width:500px;
	margin-left:5%;
	margin-top:3%;
	text-align: left;
	text-align: justify;
 text-justify: auto;
}

#div3{
	clear:both;
	width:100%;
	text-align:center;
}
#table1{
	width:100%;
	height:80%;
	padding:0px;
	margin:0px;
}
#table2{
	width:80%;
	margin-left:300px;
	padding:0px;
	margin:0px;
}
.navbar{
	color: #b14e62;
	text-align: right;
	font-size: 20px;
	position: fixed;
	z-index: 100;
	background-color: #e6b3b3;
	min-height: 40px;
	margin-right: 5px;
}
nav{
	width: 100%;
}
.navbar:hover{
font-weight:bold;
}
.navLinks{
	margin-top: 25px;
}
a{
	color:#b14e62;
}

#div4{
	clear:both;
	border-top:1px solid #000000;
	text-align:center;
	height:750px;
	background-color: #ffffff;

}
footer{
	position:relative;
	background-color: #b14e62;
	height:50px;
}
#pText{
	margin-left:20px;
	margin-right:20px;
	text-align:left;
	font-size:14px;
}
#bgColor{
	background-color: #e6b3b3;
	border:3px solid #e6b3b3;
}
#socials{
	font-size: 40px;
}
#margins{
	margin-top: 12%;
	margin-bottom: 15%;
}
#teamProjects{
	clear: both;
	float: left;
	text-align: left;
	margin-left:15%;
	margin-top: 4%;
	text-align: justify;
 text-justify: auto;
}
#heading{
padding-top: 5%;
clear:both;
	width:100%;
	text-align:center;
}
#sec5{
	margin-top: 2%;
	clear:both;
	float:left;
	margin-left: 15%;
	text-align: left;

}
#sec6{
	margin-top: 2%;
	float:right;
	margin-right: 15%;
	text-align: left;
}
