.backpic{
	
	width: 21%;
	height: 28%;
	overflow: hidden;
	float: left;
}
.backpic2{
	
	width: 21%;
	height: 28%;
	overflow: hidden;
	float: left;
}
.layer{
	position: absolute;	
	left: 29.5%;
	top: 28%;
	width: 45%;
	height: 45%;

}
.layer2{
	position: absolute;	
	left: 29.5%;
	top: 28%;
	width: 45%;
	height: 45%;

}
#backgroundPicture{
	z-index: 1;
	background-image: url(images/dobby.jpg);
	background-size: 100% 100%;
	position: absolute;	
	left: 29%;
	top: 27%;
	width: 37.8%;
	height: 50%;
	border-style: solid;
    border-width: 7px;
	border-color: #334d4d;

}
#container1{

	z-index: 2;
	font-size:0;
}
#container2{

	z-index: 3;
	font-size:0;

}
#wrapper{
width: 100%;
	height: 100%;
}
#left{
	float:left;
	height:80%;
	width:25%;
}
#right{
	float:right;
	height:80%;
	width:25%;
}
header{
	width:100%;
	height:10%;
}
footer{
	width:100%;
	height:10%;    
	clear:both;
	text-align:center;
}
body{
	background-image:url(images/bg3.jpg);
	background-size: 100% 100%;}
img{
	height:100%;
	width:100%;
}
h1,h2{
	font-family: "Courier New", Courier, monospace;
	font-style : italic;
	font-weight: bold;
	background-color: #334d4d;
}
p{
	background-color:  #334d4d;
	font-family: "Courier New", Courier, monospace;
	font-style : italic;
	font-weight: bold;

}
.button{
	background-color:#334d4d;
	font-size: 14px;
	font-family: "Courier New", Courier, monospace;
	font-style : italic;
	font-weight: bold;
}
